body {
    margin-top: 50px;
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-animetion {
    opacity: 1;
    -webkit-animation: goRun 3s;
}

@-webkit-keyframes goRun {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#page1 {
    background-image: url(../src/sample.jpg);
}

#page2 {
    background-image: url(../src/shoes1.jpg);
}

#page4 {
    background-image: url(../src/washshoes.jpg);
}

#page5 {
    background-image: url(../src/reputation.jpg);
}

.more-information {
    position: relative;
    top: 75vh;
    font-size: 2vw;
}